//변수
$wh:#fff;
$border:#ff7f50;
$fontColor:#222;
$fontColor2:#aaa;
$bgColor:#eee;
$bestColor:#ffe4c4;
$orderColor:#000080;
//----------------------------------mixin
@mixin layout1200 {
    width:1200px; margin:0 auto;
}
@mixin flex-center {
    display:flex; flex-flow:row nowrap;
    align-items:center; justify-content: center;
}
//----------------------------------
//----------------------------------skip
.lang, .all_nav, .sub {display:none;}//----------------------------------design
#popup {background-color:$bgColor; text-align:center; padding:20px 0;
    a {color:$fontColor; font-weight:700; font-size:0.91rem;}
}
header { width:1200px; margin:0 auto; background:aqua;
    .top {position:relative;
        h1 {text-align:center; padding:50px 0;
            a{img{}}}
        .right {
            @include flex-center; background:pink;
            position:absolute; right:0; bottom:15px;
            li:first-child {position:relative;
                > a::after {
                    content:''; display:inline-block;
                    background:url(../images/arr.png) no-repeat;
                    width:10px; height:10px; margin-left:7px;
                }
                .lang {
                    display:block; background:#fff;
                    position:absolute; z-index:910;
                    border:1px solid $fontColor2; left:-50%;
                    a {font-size:0.84rem;}
                }
            }
            li {
                a {
                    text-transform:uppercase; position:relative;
                    padding:10px 7px; display:block;
                    span {
                        border:2px solid $border; font-size:0.84rem;
                        border-radius:5px; padding:3px 10px;
                        position:absolute; width:max-content;
                        left:-50%; top:30px;
                    }
                }
            }
        }
        .all_nav {
            display:block; background:$wh; 
            border:1px solid $fontColor2; border-radius:10px;
            position:fixed; left:50%; top:50%;
            width:700px; height:500px; z-index:999;
            transform:translate(-50%, -50%);
            text-align:center; line-height:500px;
            .close {
                position:absolute; right:20px; top:20px;
                font-size:1.5rem; font-weight:700; padding:10px;
            }
        }
    }
    .btm {
        nav {
            > ul {@include flex-center;
                > li { position:relative;
                    > a {text-transform:uppercase;padding:15px;display:block;font-weight:700;}
                    > a:hover {color:$border;}
                    .sub {
                        display:block; background:$wh;
                        position:absolute; width:100%; z-index:900;
                        border:1px solid $fontColor2;
                        li {a {padding:10px;display:block;}}
                    }
                }
            }
        }
    }
}//header end
main {
    #right_popup {
        position:fixed; right:0; top:0;
        display:flex; align-items:center;
        #popup_btn {
            background:#fff; width:30px;
            border:1px solid $fontColor2;
            display:flex; flex-flow:column;
            a:first-child {background:$border;}
            a {width:100%; padding:10px 5px; text-align:center;
                img {}}
        }
        .contents {
            background:#fff; width:500px; height:100vh;
            border:1px solid $fontColor2; padding:30px;
            .info {text-align:center;img{}}
            .info_contents {
                text-align:center; line-height:1.5;
            }
            .user {display:flex; flex-flow:row wrap;
                a{width:50%; border-bottom:1px solid $fontColor2;
                    text-transform:uppercase; padding:10px 5px;
                    span{}}
                }
            .board {display:flex; flex-flow:row wrap;
                a{width:50%; border-bottom:1px solid $fontColor2;
                    text-transform:uppercase; padding:10px 5px;
                    }
                }
            h2 {}
            h2+p {img{width:50%;}}
            address {font-size:2.5rem;}
            address+p{}
        }
    }//#right_popup end
    .visual {img{width:100%;}}
    .event_bnr {
        @include layout1200;
        display:grid; grid-template-columns:repeat(3, 33%);
        justify-content:space-between; padding:100px 0;
        a {img {width:100%;}}
    }
    .weekly_best {@include layout1200; padding:0 0 100px;
        h2 {font-weight:600; text-align:center; padding:0 0 50px; text-transform:uppercase;}
        .product {display:grid; grid-template-columns:repeat(3, 33%);
            justify-content:space-between;
            li {padding:0 0 50px;
                .photo {img{width:100%;}}
                h2 {}
                .price {font-weight:600;}
                .btm {
                    display:grid; border-top:1px solid $fontColor2;
                    grid-template-areas:
                        'size review'
                        'icon icon';
                    .size {grid:'size';}
                    .review {grid:'review'; text-align:right; color:$border;}
                    p:last-child {grid:'icon';
                        span {display:inline-block; color:$wh; padding:5px;}
                        .best {background:$bestColor;}
                        .order {background:$orderColor}
                    }
                }
            }
        }
    }
    .made_bnr {
        background:url(../images/made_img.jpg) center;
        background-size:cover; padding:50px 0; text-align:center;
        h2 {color:$wh; font-size:3rem; text-transform:uppercase; padding:0 0 20px;}
        .shop_now {color:$wh; display:inline-block; border:2px solid $wh; padding:15px 20px;}
    }
}//main end
footer { padding:50px 0; border-top:1px solid $fontColor2; margin:50px 0 0;
    .ft {
        @include layout1200; 
        .menu {padding:0 0 20px; a {padding-right:20px; display:inline-block;}}
        address {line-height:1.5;}
    }
}